<table class="table table-striped">
  <thead>
    <tr>
      <th ng-click="orderBy('name');" style="cursor:pointer;">Name</th>
      <th ng-click="orderBy('tel');" style="cursor:pointer;">Tel</th>
      <th ng-click="orderBy('address');" style="cursor:pointer;">Address</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="client in clients | filter:search | orderBy:order:reverse">
      <td>{{ client.name }}</td>
      <td>{{ client.tel }}</td>
      <td>{{ client.address }}</td>
      <td>
        <button ng-click="editClient(client);" class="btn btn-default">Edit</button>
        <button ng-click="deleteClient(client);" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
